body {
  background-color: #f5e9d3;
  font-family: "Roboto", sans-serif;
  color: #013220;
}

.site-title {
  text-align: center;
  font-family: "Italiana", serif;
  background-color: #013220;
  color: #f5e9d3;
  padding: 10px;
}

.recipe-img {
  width: 100%;
  height: auto;
}